body {
    background-color: hsl(29, 78%, 69%);
}
.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 4rem;
}
button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.move-button {
    background-color: hsl(226, 84%, 52%);
}
.move-button:hover {
    background-color: hsl(240, 95%, 45%)
}
.delete-button {
    background-color: hsl(0, 87%, 53%);
}
.delete-button:hover {
    background-color: rgb(194, 2, 2);
}
.add-button {
    background-color: hsl(120, 100%, 35%);
}
.add-button:hover {
    background-color: hsl(120, 100%, 25%);
}
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
    margin-bottom: 20px;
}
ol {
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid hsl(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
}
.delete-button, .move-button {
    padding: 8px, 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.fav-button{
    background-color: rgb(207, 203, 203);
    border-style: double;
}
.fav-button:hover {
    color: red;
}
.display-fav-button {
    background-color: hsl(271, 91%, 67%);
    margin-top: 40px;
}
.display-fav-button:hover {
    background-color: hsl(271, 75%, 46%);
}